body{
    background-color: plum ;
    background-image: url(../Img/Fondo\ Postres.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.fotito{
    margin-left: 31px;
}
 
#cabecera{
    max-height: 215px;
}

h1{
    font-style: oblique;
    background-color: azure;
    max-width: max-content;
    font-size: 27px;
    transform: translate(10%,-40%);
}

h2{
    background-color: white;
    max-width: max-content;
    transform: translate(50%);
}

.nav1{
    max-width: 550px;
    background-color: lightblue;
    margin: auto;
    transform: translate(0%,-400%);
    font-size: 20px;
    margin-top: 0px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a{
    list-style: none;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

#quien{
    background-color: blanchedalmond;
    max-width: max-content;
    float: right;
    transform: translate(-65%, -1250%);
}

.quien1{
    background-color: burlywood;
    max-width: 3650px;
    float: right; 
    transform: translate(40%, -1630%);
}

.quien2{
    
    background-color: burlywood;
    max-width: 3650px;
    float: right; 
    transform: translate(140%, -1680%);
}

.bot1{
    margin-left: 60px;
}

label{
    background-color: coral;
}

button{
    margin: 3px;
    margin-left: 1px;
}

.menu-horizontal > li:hover{
    background-color: red;

}

.menu-vertical{
   position: absolute;
   background-color: aqua;
   display: none;
   list-style: none;
   width: 200px;
}

.menu-horizontal li:hover .menu-vertical{
 display: block;
 max-width: fit-content;  

}

.menu-vertical li:hover{
    background-color: blueviolet;
}

.menu-vertical li a:hover{
    color: white;
}

.menu-vertical li a{
    display: block;
    color: black;
    padding: 5px 3px 5px;
}

#videito{
    margin-left: 30px;

}

.listapie{
    max-width: 300px;
    background-color: lightblue;
    margin: 50px;
    font-size: 20px;
    margin-top: 100px;
}

#encuesta{
    float: right;
    transform: translate(-1.5%, -165%);
}