body{
    background-color: plum ;
    background-image: url(../Img/Fondo\ Postres.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.fotito{
    margin-left: 31px;
}

#cabecera{
    max-height: 215px;
}

h1{
    font-style: oblique;
    background-color: rgb(246, 85, 252);
    max-width: max-content;
    font-size: 27px;
    transform: translate(10%,-40%);
}

.nav1{
    max-width: 550px;
    background-color: lightblue;
    margin: auto;
    transform: translate(0%,-400%);
    font-size: 20px;
    margin-top: 0px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a{
    list-style: none;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.menu-horizontal > li:hover{
    background-color: rgb(95, 200, 235);

}

.menu-horizontal li:hover .menu-vertical{
 display: block;
 max-width: fit-content;  
}

.menu-vertical{
    position: absolute;
    background-color: aqua;
    display: none;
    list-style: none;
    width: 200px;
}
 
.menu-vertical li:hover{
    background-color: blueviolet;
}

.menu-vertical li a:hover{
    color: rgb(250, 228, 228);
}

.menu-vertical li a{
    display: block;
    color: black;
    padding: 5px 3px 5px;
    text-decoration: none;
}

#videito{
    margin-left: 30px;

}

h2{
    background-color: rgb(255, 111, 159);
    max-width: max-content;
    transform: translate(50%);
}

#quien{
    background-color: rgb(255, 111, 159);
    max-width: max-content;
    float: right;
    transform: translate(-65%, -1250%);
}

.quien1{
    background-color: rgb(252, 170, 204);
    max-width: 3650px;
    float: right; 
    transform: translate(40%, -1630%);
}

.quien2{
    
    background-color: rgb(250, 170, 204);
    max-width: 3650px;
    float: right; 
    transform: translate(140%, -1680%);
}


#encuesta{
    float: right;
    transform: translate(-1.5%, -165%);
}

.bot1{
    margin-left: 60px;
}

input{
    background-color: rgb(241, 197, 129);
}

label{
    background-color: rgb(255, 147, 192);
}

button{
    margin: 3px;
    margin-left: 1px;
    background-color: rgb(170, 170, 255);
}

.listapie{
    max-width: max-content;
    background-color: pink;
    margin: 50px;
    font-size: 20px;
    margin-top: 100px;
    list-style: none;

    display: flex;
    justify-content: space-around;
}

.listapie > li{
    display: block;
}

.listapie > li > a{
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    font-size: 18px;
    color: grey;
}

